<div id="<%= dom_id company %>">
  <p>
    <strong>Company Title:</strong>
    <%= company.company_title %>
  </p>

  <p>
    <strong>About Company:</strong>
    <%= company.about_company %>
  </p>

  <p>
    <strong>Company Benefits:</strong>
    <%= company.company_benefits %>
  </p>

  <p>
    <strong>Company Industry:</strong>
    <%= company.company_industry %>
  </p>

  <p>
    <strong>Company Website:</strong>
    <%= company.company_website %>
  </p>

  <p>
    <strong>Company Location:</strong>
    <%= company.company_location %>
  </p>

  <p>
    <strong>Company Email:</strong>
    <%= company.company_email %>
  </p>

  <p>
    <strong>Company Phone Number:</strong>
    <%= company.company_phone_number %>
  </p>

  <p>
    <strong>Company LinkedIn Profile:</strong>
    <%= company.company_linkedin_profile %>
  </p>

  <p>
    <strong>Company Facebook Profile:</strong>
    <%= company.company_facebook_profile %>
  </p>

  <p>
    <strong>Company Youtube Channel:</strong>
    <%= company.company_youtube_channel %>
  </p>

  <p>
    <strong>Created At:</strong>
    <%= company.created_at %>
  </p>

</div>
