<div class="container">
  <%= render @company %>

  <div>
    <%= link_to "Edit this company", edit_company_path(@company), class:"btn btn-primary" %> |
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal-<%= @company.id%>">Delete</button>
  </div>

  <%= render "deleteModal", company: @company %>

  <div id="jobs">
    <h3>Jobs:</h3>
    <% if @company.jobs.present? %>
    <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr>
        <th style="border: 1px solid #000;">Job ID</th>
        <th style="border: 1px solid #000;">Job Title</th>
        <th style="border: 1px solid #000;">Job Type</th>
        <th style="border: 1px solid #000;">Job Location</th>
        <th colspan="3" style="border: 1px solid #000;">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @company.jobs.each do |job| %>
      <tr style="border: 1px solid black;">
        <td  style="border: 1px solid black;">
          <%=company.job.id%>
        </td>
        <td  style="border: 1px solid black;">
          <%=company.job.job_title%>
        </td>
        <td  style="border: 1px solid black;">
          <%=company.job.job_type%>
        </td>
        <td  style="border: 1px solid black;">
          <%=company.job.job_location%>
        </td>
        <td>
          <%= link_to "Show", company, class:"btn btn-primary"%> 
        </td>
        <td>
          <%= link_to "Edit", edit_company_path(company), class:"btn btn-primary" %>
        </td>
        <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal-<%= company.id%>">Delete</button> 
        </td>
      </tr>
    <%= render partial: 'deleteModal', locals: { company: company } %>
    <% end %>
  <tbody>
    </table>
    <%= link_to "All Companies", companies_path, class:"btn btn-primary" %>
    <%= link_to "All Jobs", jobs_path, class:"btn btn-primary" %>
    <% else %>
      <p>No Jobs</p>
    <% end %>

  </div>
</div>





